

.team-blurb {
    text-align: center;
    font-size: 1.8rem;
    //font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 3px  gray;
    margin-top: 1rem;
    color: rgb(131, 49, 49);

    @media @desktop {
     position: relative;
     left: -2rem;
     font-size: 2rem;
    }
}

.member-card {
     margin: 2rem 1rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    width: 80%;

    
     @media @desktop {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     //border: 2px solid red;
     margin-left: 10rem;
     margin-top: 5rem;
    } 
    
}


.member-pic {
    width: 150px;
    height: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
}

.member-name {
    
    @media @desktop {
     align-self: flex-end;
     
    }
}

.justin {

    @media @desktop {
    position: relative;
    right: 9rem;
    } 
}

.jay {
    @media @desktop {
    position: relative;
    right: 9rem;
    }
}

 .yurika {
    
    @media @desktop {
        position: relative;
        left: -9rem;
        top: .5rem;
        
    }
}

.cameron {
    
    @media @desktop {
        position: relative;
        top: .5rem; 
        right: 9.5rem;
        
        //border: 2px solid red;
    }
}

.jasmine {
    
    @media @desktop {
        position: relative;
        top: .5rem; 
        right: 9rem;
    }
}

.ramses {
    
    @media @desktop {
        position: relative;
        top: .5rem;
        right: 9rem;
    }
}

.member-bio {

 padding-top: 1rem;
 position: relative;
 top: -4rem;
 left: 13rem;
 font-size: 20px;
  
    @media @desktop {
    position: relative;
    top: 4rem;
    left: -9rem;
    font-size: 20px;
   } 
}

.name-text {
    font-weight: bold;
    font-size: 1.2rem;

   

}

.role-text {
 font-style: italic;
 font-size: 1.1rem;
}

.div-flex {
    
    @media @desktop {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 2rem;
    }
    
}
.jay-div {
 padding-top: 3rem;

  @media @desktop {
      position: relative;
      top: -3rem;
      //padding-left: 5rem;
  }
}

.yurika-div {
 padding-top: 3rem;
 
 @media @desktop {
    position: relative;
    top: -2.5rem;
   }
}

.cameron-div {
padding-top: 3rem;

@media @desktop {
    position: relative;
    top: -2.5rem;
    //padding-left: 8rem;
  }

}

.jas-div {
padding-top: 3rem;

@media @desktop {
    position: relative;
    top: -2.5rem;
  }
}

.ramses-div {
 padding-top: 3rem;
 
 @media @desktop {
    position: relative;
    top: -2.5rem;
    padding-left: 1.5rem;
  }
}

