.team-blurb {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.member-card {
     margin: 2rem 1rem 1rem 4rem;
    display: flex;
    flex-direction: column;

    
     @media @desktop {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
    justify-content: space-between;
        //align-content: center;
    } 
    
}

.member-card {
//background-image: url("../images/");
width: 80%;
}

.member-pic {
    width: 150px;
    height: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
}

.member-name {
    
    @media @desktop {
     position: relative;
     top: 1rem;
    }
}

.member-bio {
  
    @media @desktop {
    position: relative;
    top: 4rem;
    left: -9rem;
   } 
}

.name-text {
    font-weight: bold;
    font-size: 1.2rem;

   

}

.role-text {
 font-style: italic;
 font-size: 1.1rem;
}

.member-bio {
 padding-top: 1rem;
}

.jay-div {
 padding-top: 3rem;

  @media @desktop {
      position: relative;
      top: -2.5rem;
  }
}

.yurika-div {
 padding-top: 3rem;
 
 @media @desktop {
    position: relative;
    top: -2.5rem;
   }
}

.cameron-div {
padding-top: 3rem;

@media @desktop {
    position: relative;
    top: -2.5rem;
  }

}

.jas-div {
padding-top: 3rem;

@media @desktop {
    position: relative;
    top: -2.5rem;
  }
}

.ramses-div {
 padding-top: 3rem;
 
 @media @desktop {
    position: relative;
    top: -2.5rem;
  }
}