.main-content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.4rem;
  background-color: white;

  //margin: 2rem 1.5rem 0rem 1.5rem;
  border: 2px solid red;
  width: 86%;
  
  .cta-blurb {
      border-top: 2px solid blue;
      //border-top-color: 3px #003399;
      margin-top: 3rem;
      width: 100%;
      padding: 1rem;
      background-color: rgba(0,32,32,0.64);
      color: white;
      //background-color: #66CCFF;
      //background-color: white;
  }
    
}

 .main-content h1 {
//border: 2px solid red;
background-color: white;
background-image: url('../images/jump.jpg');
font-size: 2rem;
width: 100%;
padding-top: 1rem;
padding-bottom: 13rem;
//margin-left: 6rem; 
color: #003399; 
}

.p-one {
    //background-color: #66CCFF;
    //padding: 1rem 2rem 2rem 2rem;
    padding-top: 2rem;
    
    width:  100%;
    //border: 2px solid red;
}