header {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0 auto;
    top: 0;
    //margin: 2rem 1.5rem 0rem 1.5rem;
    padding: 2rem 1rem 2rem 1rem;
    //background-color: #5ac9ff;
    background-color: white;
    border-bottom: 2px solid gray;
    width:  80%;
    z-index: 100;
    
    @media @desktop {
        width: 100%
       }
    

    a {
    text-decoration: none;
    //justify-content: space-between;
    //color: rgb(137, 224, 137);
    color: rgb(165, 72, 72);

      @media @desktop {
          display: flex;
          position: relative;
          left: 5rem;
        
      }

        }

    .nav-link-a {
     position: relative;
     left: 2rem;

      @media @desktop {
          position: relative;
          left: -6rem;
          font-size: 1.5rem;
          line-height: 2
      }
    }

     a .tag-line {
        font-size: 1.7rem;
        //color: white;
        color: black;
        text-shadow: 4px 4px 4px  gray;
       //border: 2px solid red;

       @media @desktop {
           position: relative;
           top: 5rem;
           font-size: 2rem;
       }
    }
}

.e-logo-div {
 background-image: url("../images/bluewhite4.png");
 margin: 1rem 2rem 0rem 2rem;
 padding: 1rem 3rem 0 3rem;
 border-bottom: 2px solid gray;
 
 @media @desktop {
    display: none;
   }

   @media @tablet {
       //display: none;
   }
    
   
}

.e-logo {
    position: relative;
    left: 5.9rem;
    padding-top: -1rem;
    
   }