header {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 2rem 1.5rem 0rem 1.5rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #0099CC;
    width:  80%;
    


    a {
    text-decoration: none;
    color: #CCFFCC;    
    }
}