
.container1 {
    
    background-image: url(../img/thao-le-hoang-yYSY93clr4w-unsplash.jpg);
    height: 70%;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    // @media @mobile {
    //   width: 90%
    // }

    .top-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        .product-description {
            width: 50%;

            h1{
                font-size: 8rem;
                color: white;
                text-align: center;
                margin-top: 5%;
                padding: none;
                border: none;
            }

            h2{
                font-size: 2rem;
                color: white;
                text-align: center;
                margin-top: 2%;
                margin-bottom: 0%;

                padding: none;
                border: none;
            }

            p{
                
                text-align: center;
            }

        }

        p{
            margin: 5% auto;

            text-align: center;
        }

        

        .register {

            display: flex;
            flex-direction: column;
            align-content: space-between;
            width: 35%;
            height: 35rem;
            padding: 2%;
            margin-top: 2%;
            margin-right: 5%;
            margin-bottom: 2%;
            margin-left: 5%;
            background: whitesmoke;
            border-radius: 15px;
            box-shadow: 0 12px 12px -15px black;

            

            #sign-up-button {
                display: block;
                width: 50%;
                height: 15%;
                margin: 5% auto;
                border: none;
                border-radius: 6px;
                background: linear-gradient(45deg, @Primary, @AnalogousB);
                font-size: 2rem;
                text-align: center;
            
                a {
                    text-decoration: none;
                    color: whitesmoke;
            
                }

            }     

            #little-p {
                margin: 0;
            }

            #log-in-button {
                display: block;
                width: 50%;
                height: 15%;
                margin: 5% auto;
                border: none;
                border-radius: 6px;
                background: linear-gradient(25deg, @Primary, @AnalogousB);
                font-size: 2rem;
                text-align: center;
            
                a {
                    text-decoration: none;
                    color: gray;
            
                }

            }  

        }

    }

}