@Primary: #26d1f2;
@Complimentary: #fc3208;
@AnalogousA: #80f3bc;
@AnalogousB: #496cf3;
@TriadicA: #4710f6; 
@TriadicB: #f457d1;

// grays shades
@Gray0: #dee2e6;
@GrayA: #cfd4da;
@GrayB: #adb5bd;
@GrayC: #868e96;
@GrayD: #495057;
@GrayE: #343a40;
@GrayF: #21252a;

// logo color schemes
@logoBackground: #4810f7;
@logoColor: #27d1f2;


// mobile escape variable
@mobile: ~'(max-width: 500px)';